@model CSharpOblOppg3_Collections.Models.CdSalesViewModel

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-12">
        <h1>@Model.Dealers[0].CompanyName har @Model.Dealers[0].NumSales salg.</h1>
        @{decimal sum = 0; }

            @foreach (var sale in Model.Dealers[0].Sales)
            {
            <p>@sale.CustomerName har kjøpt @sale.Cd.GroupOrArtist - @sale.Cd.AlbumName, til @sale.Price</p>

            sum += sale.Price;    
            }
            
        <p>Total sum: @sum kroner.</p>

    </div>
    
</div>